In [1]:
import pandas as pd

In [2]:
pwd

u'/Users/DRN/capstone/jupyternotebooks'

In [42]:
annual_attendance = pd.read_csv('../data/attendance/2015attendance.csv',
                                usecols=['Tm', 'Attendance', 'Attend/G', 'BatAge', 'PAge', 'BPF', 'PPF',
                                        '#A-S', '#a-tA-S', 'Est. Payroll'],
                                dtype={'Attendance': float, 'Attend/G': float, 'BPF': float, 'PPF': float,
                                      'Est.Payroll': float})

In [43]:
annual_attendance.head()

,Tm,Attendance,Attend/G,BatAge,PAge,BPF,PPF,#A-S,#a-tA-S,Est. Payroll
0,ARI,2080145.0,25681.0,26.6,27.1,105.0,105.0,2,5,$64434000
1,ATL,2001392.0,24709.0,28.8,26.6,97.0,98.0,1,10,$104037500
2,BAL,2281202.0,29246.0,27.9,28.3,102.0,102.0,4,11,$112989833
3,BOS,2880694.0,35564.0,28.4,28.6,107.0,107.0,1,19,$183931900
4,CHC,2919122.0,36039.0,26.9,29.3,98.0,97.0,2,14,$115306610

In [44]:
annual_attendance.dtypes

Tm               object
Attendance      float64
Attend/G        float64
BatAge          float64
PAge            float64
BPF             float64
PPF             float64
#A-S              int64
#a-tA-S           int64
Est. Payroll     object
dtype: object

In [45]:
annual_attendance.rename(columns={'Tm': 'team', 'Attendance': 'attend', 'Attend/G': 'attend_per_game',
                                 'BatAge': 'bat_age', 'PAge': 'pit_age', 'BPF': 'bpf', 'PPF': 'ppf',
                                 '#A-S': 'allstars', '#a-tA-S': 'total_allstars', 'Est. Payroll': 'payroll_2015'},
                         inplace=True)

In [46]:
annual_attendance.head(2)

,team,attend,attend_per_game,bat_age,pit_age,bpf,ppf,allstars,total_allstars,payroll_2015
0,ARI,2080145.0,25681.0,26.6,27.1,105.0,105.0,2,5,$64434000
1,ATL,2001392.0,24709.0,28.8,26.6,97.0,98.0,1,10,$104037500

In [49]:
annual_attendance['payroll_2015'] = annual_attendance.payroll_2015.str.replace('$', '').astype(float)

In [50]:
annual_attendance.head(2)

,team,attend,attend_per_game,bat_age,pit_age,bpf,ppf,allstars,total_allstars,payroll_2015
0,ARI,2080145.0,25681.0,26.6,27.1,105.0,105.0,2,5,64434000.0
1,ATL,2001392.0,24709.0,28.8,26.6,97.0,98.0,1,10,104037500.0

In [39]:
annual_attendance.team.value_counts()

NYM    1
PIT    1
CHC    1
MIL    1
MIN    1
MIA    1
CLE    1
ATL    1
BOS    1
DET    1
CIN    1
WSN    1
LAA    1
HOU    1
CHW    1
BAL    1
NYY    1
COL    1
PHI    1
SDP    1
TEX    1
LAD    1
TOR    1
TBR    1
OAK    1
ARI    1
SEA    1
KCR    1
SFG    1
STL    1
Name: team, dtype: int64

In [52]:
annual_attendance.to_csv('annual_attendance_2015.csv', sep='\t', encoding='utf-8')

In [58]:
fci_2015 = pd.read_csv('../data/fcis/mlb_fci_2015.csv')

In [59]:
fci_2015.head()

,Team,Avg. Ticket,Pct. Change,Avg. Premium Ticket,Beer,Beer Oz,Soft Drink,Soft Drink Oz.,Hot Dog,Parking,Cap,FCI,Change
0,Boston Red Sox,52.34,0.000,180.37,7.75,12,5.00,16,5.25,35.0,25.0,350.86,0.030
1,New York Yankees,51.55,0.000,305.39,6.00,12,3.00,12,3.00,35.0,25.0,337.20,0.000
2,Chicago Cubs,44.81,0.015,113.48,7.75,16,4.50,15,5.75,25.0,20.0,300.73,0.017
3,Philadelphia Phillies,37.42,0.000,83.08,7.75,21,4.00,20,3.75,16.0,20.0,252.18,1.600
4,San Francisco Giants,33.78,0.068,95.07,7.00,14,4.75,16,5.50,21.0,15.0,241.13,0.051

In [73]:
fci_2015.rename(columns={'Team': 'team', 'Avg. Ticket': 'avg_ticket', 'Pct. Change': 'pct_change',
                                 'Avg. Premium Ticket': 'avg_prem_ticket', 'Beer': 'beer', 'Beer OZ': 'beer_oz',
                         'Soft Drink': 'soft_drink','Soft Drink Oz.': 'soft_drink_oz', 'Hot Dog': 'hot_dog',
                         'Parking': 'parking', 'Cap': 'hat', 'FCI': 'fci', 'Change': 'pct_change'},
                         inplace=True)

In [74]:
fci_2015.dtypes

team                object
avg_ticket         float64
pct_change         float64
avg_prem_ticket    float64
beer               float64
Beer Oz              int64
soft_drink         float64
soft_drink_oz        int64
hot_dog            float64
parking            float64
hat                float64
fci                float64
pct_change         float64
dtype: object

In [76]:
fci_2015[fci_2015.team == 'Minnesota Twins']

,team,avg_ticket,pct_change,avg_prem_ticket,beer,Beer Oz,soft_drink,soft_drink_oz,hot_dog,parking,hat,fci,pct_change
7,Minnesota Twins,32.59,0.0,74.18,7.5,20,5.0,20,4.5,6.0,20.0,229.36,0.065

In [77]:
fci_2015.team.value_counts()

St. Louis Cardinals      1
Kansas City Royals       1
Seattle Mariners         1
Philadelphia Phillies    1
New York Mets            1
Los Angeles Dodgers      1
Atlanta Braves           1
San Francisco Giants     1
Texas Rangers            1
San Diego Padres         1
Tampa Bay Rays           1
Colorado Rockies         1
Washington Nationals     1
Toronto Blue Jays        1
Chicago Cubs             1
Arizona Diamondbacks     1
Miami Marlins            1
Houston Astros           1
Detroit Tigers           1
Boston Red Sox           1
Pittsburgh Pirates       1
Milwaukee Brewers        1
Minnesota Twins          1
Cincinnati Reds          1
Baltimore Orioles        1
Cleveland Indians        1
Oakland Athletics        1
New York Yankees         1
Los Angeles Angels       1
Chicago White Sox        1
Name: team, dtype: int64

In [78]:
fci_2015['team'] = fci_2015['team'].str.replace('\r', '')

In [79]:
fci_2015['team'].value_counts()

St. Louis Cardinals      1
Kansas City Royals       1
Seattle Mariners         1
Philadelphia Phillies    1
New York Mets            1
Los Angeles Dodgers      1
Atlanta Braves           1
San Francisco Giants     1
Texas Rangers            1
San Diego Padres         1
Tampa Bay Rays           1
Colorado Rockies         1
Washington Nationals     1
Toronto Blue Jays        1
Chicago Cubs             1
Arizona Diamondbacks     1
Miami Marlins            1
Houston Astros           1
Detroit Tigers           1
Boston Red Sox           1
Pittsburgh Pirates       1
Milwaukee Brewers        1
Minnesota Twins          1
Cincinnati Reds          1
Baltimore Orioles        1
Cleveland Indians        1
Oakland Athletics        1
New York Yankees         1
Los Angeles Angels       1
Chicago White Sox        1
Name: team, dtype: int64

In [80]:
fci_2015.replace({'team' : { 'Boston Red Sox' : 'BOS', 'Arizona Diamondbacks' : 'ARI', 'Baltimore Orioles' : 'BAL',
                           'Philadelphia Phillies': 'PHI', 'New York Mets': 'NYM', 'Chicago Cubs': 'CHI',
                           'Minnesota Twins': 'MIN', 'Atlanta Braves': 'ATL', 'San Francisco Giants': 'SFG',
                           'Texas Rangers': 'TEX', 'San Diego Padres': 'SDP', 'Oakland Athletics': 'OAK',
                           'Tampa Bay Rays': 'TBR', 'Colorado Rockies':  'COL', 'Washington Nationals': 'WSH',
                           'Kansas City Royals': 'KCR', 'Toronto Blue Jays': 'TOR', 'New York Yankees': 'NYY',
                           'Miami Marlins': 'MIA', 'Detroit Tigers': 'DET', 'St. Louis Cardinals': 'STL',
                           'Pittsburgh Pirates': 'PIT', 'Chicago White Sox': 'CWS', 'Milwaukee Brewers': 'MIL',
                           'Cincinnati Reds': 'CIN', 'Houston Astros': 'HOU', 'Cleveland Indians': 'CLE',
                            'Los Angeles Dodgers': 'LAD', 'Los Angeles Angels': 'LAA', 'Seattle Mariners': 'SEA'}})

,team,avg_ticket,pct_change,avg_prem_ticket,beer,Beer Oz,soft_drink,soft_drink_oz,hot_dog,parking,hat,fci,pct_change
0,BOS,52.34,0.000,180.37,7.75,12,5.00,16,5.25,35.00,25.00,350.86,0.030
1,NYY,51.55,0.000,305.39,6.00,12,3.00,12,3.00,35.00,25.00,337.20,0.000
2,CHI,44.81,0.015,113.48,7.75,16,4.50,15,5.75,25.00,20.00,300.73,0.017
3,PHI,37.42,0.000,83.08,7.75,21,4.00,20,3.75,16.00,20.00,252.18,1.600
4,SFG,33.78,0.068,95.07,7.00,14,4.75,16,5.50,21.00,15.00,241.13,0.051
5,STL,34.20,0.011,83.55,5.00,12,5.25,21,4.25,20.00,16.00,236.81,3.500
6,WSH,36.02,0.022,111.95,6.50,16,5.00,24,5.25,10.00,12.00,232.08,0.018
7,MIN,32.59,0.000,74.18,7.50,20,5.00,20,4.50,6.00,20.00,229.36,0.065
8,MIA,28.96,0.072,167.14,6.00,12,4.50,24,6.00,15.00,19.99,224.83,0.017
9,HOU,31.82,0.137,99.80,5.00,14,4.50,21,4.75,15.00,14.00,220.28,0.060
10,NYM,25.30,0.000,83.78,5.75,12,5.00,16,6.25,22.00,19.99,219.68,0.000
11,LAD,28.61,0.109,222.13,6.25,20,6.00,24,5.50,10.00,18.00,218.94,0.054
12,DET,29.01,0.028,73.72,5.00,12,4.25,16,4.50,20.00,16.00,213.03,0.015
13,KCR,29.76,0.203,105.08,6.50,16,5.00,22,5.00,10.00,15.00,212.04,0.105
14,SEA,31.00,0.090,206.00,6.00,12,4.50,16,4.50,20.00,10.00,212.00,0.051
15,TOR,25.14,0.000,58.18,6.79,14,4.75,24,4.98,22.64,16.29,208.28,-0.001
16,CWS,26.05,0.000,88.15,6.50,16,4.75,24,4.00,20.00,17.99,208.18,0.030
17,COL,23.65,0.000,47.39,6.00,16,3.50,18,4.75,13.00,22.00,196.60,0.026
18,OAK,24.00,0.051,52.00,5.00,12,4.50,16,5.25,20.00,15.00,195.00,0.024
19,TEX,23.64,0.004,62.77,5.00,16,4.50,20,5.00,12.00,17.99,190.54,-0.013
20,LAA,27.54,0.005,76.74,4.50,16,2.75,12,4.50,10.00,16.00,190.16,0.003
21,MIL,26.32,0.054,46.16,6.00,16,2.50,12,3.50,11.00,15.00,182.28,0.031
22,PIT,19.99,0.091,61.84,5.50,16,3.25,16,3.25,15.00,22.00,175.95,0.039
23,ATL,19.14,0.033,51.33,7.25,16,4.75,22,4.75,15.00,15.00,174.06,0.014
24,CIN,22.03,0.000,66.43,5.25,12,1.00,12,1.00,20.00,20.00,166.62,0.041
25,CLE,22.38,0.050,59.50,4.00,12,3.00,12,3.00,12.00,16.50,166.52,0.026
26,BAL,24.97,0.000,44.93,6.75,16,1.50,12,1.50,8.00,15.00,163.39,0.000
27,TBR,21.90,0.042,88.79,5.00,12,5.00,22,5.00,0.00,10.00,157.60,-0.015
28,SDP,16.37,0.000,41.18,5.00,14,4.00,22,4.00,8.00,18.99,153.45,0.000
29,ARI,17.98,0.000,52.14,4.00,14,1.50,24,2.75,10.00,9.99,126.89,0.000

In [81]:
fci_2015.to_csv('fci2015.csv', sep='\t', encoding='utf-8')

In [83]:
pwd

u'/Users/DRN/capstone/jupyternotebooks'

In [86]:
standings_2015 = pd.read_csv('../data/seasons/2015standings.csv')
#                                 usecols=['Tm', 'Attendance', 'Attend/G', 'BatAge', 'PAge', 'BPF', 'PPF',
#                                         '#A-S', '#a-tA-S', 'Est. Payroll'],
#                                 dtype={'Attendance': float, 'Attend/G': float, 'BPF': float, 'PPF': float,
#                                       'Est.Payroll': float})